* {
  box-sizing: border-box;
}

html {
  width: 400px;
}

header {
  position: relative;
}

.header-top {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 700;
  background-color: #ffce33;
  padding: 30px 10px 60px 10px;
}

.header-top i {
  cursor: pointer;
}

.header-bottom {
  position: absolute;
  top: 85px;
  left: 10px;
}

.header-bottom input {
  padding: 0px 40px;
  background-color: #fff;
  border-style: none;
  border-radius: 25px;
  width: 380px;
  height: 50px;
  box-shadow: 0px 5px 10px #f5f5f5;
}

.header-bottom i {
  position: absolute;
  top: 17px;
  right: 15px;
  opacity: 0.2;
}

.header-bottom input::placeholder {
  opacity: 0.3;
  font-weight: 700;
}

.header-bottom input:focus {
  outline: none;
}

.book-of-the-day {
  height: 320px;
  width: 100%;
  padding: 60px 0px 20px 25px;
}

.book-of-the-day__title {
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 20px;
}

.book-of-the-day__description {
  display: flex;
}

.book-of-the-day__image {
  background-image: url("./image/http.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  width: 155px;
  height: 215px;
}

.book-of-the-day__information {
  padding-left: 10px;
}

.book-of-the-day__name {
  font-size: 20px;
  padding-bottom: 10px;
  font-weight: 700;
}

.book-of-the-day__author {
  font-size: 16px;
  font-weight: 700;
  opacity: 0.2;
  padding-bottom: 20px;
}

.book-of-the-day__ratings {
  color: #ffd44f;
  padding-bottom: 30px;
}

.book-of-the-day__tags {
  display: flex;
  justify-content: space-around;
  width: 200px;
  height: 30px;
  margin-bottom: 30px;
}

.book-of-the-day__tag input {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  width: 90px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}

.book-of-the-day__btns {
  display: flex;
  justify-content: space-between;
}

.book-of-the-day__bookmark {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  background-color: #ffd44f;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.book-of-the-day__booknow input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 40px;
  background-color: #000;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  border-style: none;
}

.top-adventures {
  margin-left: 20px;
}

.top-adventures__title {
  font-weight: 700;
  font-size: 24px;
  padding: 30px 0 20px 20px;
}

.top-adventures__poster {
  display: flex;
  overflow-x: auto;
  width: 100%;
  height: 200px;
}

.top-adventures__poster::-webkit-scrollbar {
  width: 10px;
}

.top-adventures__poster::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  background-clip: padding-box;
  border: 4px solid transparent;
  border-radius: 10px;
}

.top-adventures__poster::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

.top-adventures__poster > * {
  flex: 0 0 auto;
  display: inline-block;
  border-radius: 5px;
  margin-right: 20px;
}

.ratings {
  font-size: 12px;
  color: #ffd44f;
}

.nodejs {
  position: relative;
  background-image: url("./image/nodejs.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 110px;
  height: 150px;
}

.nodejs .ratings {
  position: absolute;
  left: 10px;
  bottom: -23px;
}

.network {
  position: relative;
  background-image: url("./image/network-for-everyone.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 110px;
  height: 150px;
}

.network .ratings {
  position: absolute;
  left: 10px;
  bottom: -23px;
}

.nico-clone {
  position: relative;
  background-image: url("./image/nico-clone.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 110px;
  height: 150px;
}

.nico-clone .ratings {
  position: absolute;
  left: 10px;
  bottom: -23px;
}

.javascript {
  position: relative;
  background-image: url("./image/javascript.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 110px;
  height: 150px;
}

.javascript .ratings {
  position: absolute;
  left: 10px;
  bottom: -23px;
}

.popular-authors {
  width: 100%;
  height: 350px;
  padding: 20px 0px 20px 20px;
}

.popular-authors__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.popular-authors__image {
  background-image: url("./image/author.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 230px;
  border-radius: 10px;
}

.popular-authors__description {
  display: flex;
}

.popular-authors__information {
  margin-left: 20px;
}

.popular-authors__name {
  margin-bottom: 10px;
  width: 200px;
  height: 30px;
  font-size: 24px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.7);
}

.popular-authors__biography {
  width: 160px;
  height: 100px;
  line-height: 25px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.3);
}
