@font-face {
  font-family: "Spoqa Han Sans";
  font-weight: 700;
  src: local("Spoqa Han Sans Bold"),
    url("../fonts/SpoqaHanSans/SpoqaHanSansBold.woff2") format("woff2"),
    url("../fonts/SpoqaHanSans/SpoqaHanSansBold.woff") format("woff"),
    url("../fonts/SpoqaHanSans/SpoqaHanSansBold.ttf") format("truetype");
}

@font-face {
  font-family: "Spoqa Han Sans";
  font-weight: 400;
  src: local("Spoqa Han Sans Regular"),
    url("../fonts/SpoqaHanSans/SpoqaHanSansRegular.woff2") format("woff2"),
    url("../fonts/spoqa-han-sans/SpoqaHanSans/SpoqaHanSansRegular.woff")
      format("woff"),
    url("../fonts/spoqa-han-sans/SpoqaHanSans/SpoqaHanSansRegular.ttf")
      format("truetype");
}

@font-face {
  font-family: "Spoqa Han Sans";
  font-weight: 300;
  src: local("Spoqa Han Sans Light"),
    url("../fonts/SpoqaHanSans/SpoqaHanSansLight.woff2") format("woff2"),
    url("../fonts/SpoqaHanSans/SpoqaHanSansLight.woff") format("woff"),
    url("../fonts/SpoqaHanSans/SpoqaHanSansLight.ttf") format("truetype");
}

@font-face {
  font-family: "Spoqa Han Sans";
  font-weight: 100;
  src: local("Spoqa Han Sans Thin"),
    url("../fonts/SpoqaHanSans/SpoqaHanSansThin.woff2") format("woff2"),
    url("../fonts/SpoqaHanSans/SpoqaHanSansThin.woff") format("woff"),
    url("../fonts/SpoqaHanSans/SpoqaHanSansThin.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  font-family: "Spoqa Han Sans Neo", "Spoqa Han Sans JP", "sans-serif";
}

body {
  width: 100%;
  height: 1200px;
  background-color: #fff;
}

.music-app {
  width: 584px;
  height: 1200px;
  background-clip: content-box;
  border: 5px solid #00c6ad;
  position: relative;
}

header {
  position: absolute;
  width: 100%;
  height: 100%;
}

.playlist-close {
  position: absolute;
  top: 100px;
  left: 43px;
}

.playlist-close i {
  font-size: 36px;
}

.playlist-title {
  position: absolute;
  top: 100px;
  font-size: 36px;
  font-weight: 700;
  left: 50%;
  transform: translate(-50%);
}

.now-playing {
  position: absolute;
  width: 100%;
  height: 100%;
}

.now-playing__area {
  position: absolute;
  width: 100%;
  height: 100%;
}

.now-playing__image {
  position: absolute;
  top: 200px;
  left: 36px;
  width: 190px;
  height: 190px;
  background-color: #ffbd11;
  border: 3px solid #000;
  border-radius: 16px;
}

.now-playing__image i {
  position: absolute;
  font-size: 60px;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.now-playing__description {
  position: absolute;
  top: 200px;
  left: 250px;
}

.now-playing__music-title {
  display: block;
  line-height: 60px;
  font-weight: 700;
  font-size: 48px;
}

.now-playing__singer {
  display: block;
  line-height: 60px;
  font-weight: 700;
  font-size: 24px;
}

.now-playing__btns {
  position: absolute;
  top: 450px;
  left: 36px;
}

.now-playing__play {
  width: 250px;
  height: 88px;
  border: 1px solid #000;
  border-radius: 20px;
  border-width: 3px 3px 10px 3px;
  position: absolute;
}

.now-playing__play i {
  position: absolute;
  top: 23px;
  left: 70px;
  font-size: 24px;
}

.now-playing__play span {
  position: absolute;
  top: 12px;
  left: 110px;
  font-weight: 700;
  font-size: 36px;
}

.now-playing__love {
  position: absolute;
  left: 300px;
  width: 90px;
  height: 95px;
  font-size: 32px;
  border: 1px solid #000;
  border-radius: 50%;
  border-width: 3px 3px 10px 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.now-playing__plus {
  position: absolute;
  left: 420px;
  width: 90px;
  height: 95px;
  font-size: 32px;
  border: 1px solid #000;
  border-radius: 50%;
  border-width: 3px 3px 10px 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.musics {
  position: absolute;
  top: 600px;
  left: 36px;
}

.musics-first {
  position: absolute;
  width: 100%;
  height: 100%;
}

.musics-first__image {
  position: absolute;
  background-color: #f85a2a;
  border: 3px solid #000;
  border-radius: 18px;
  left: 36px;
  width: 84px;
  height: 80px;
}

.musics-first__description {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 137px;
  top: 8px;
  font-weight: 700;
  font-size: 24px;
  width: 400px;
  height: 80px;
}

.musics-first__description span:last-child {
  position: absolute;
  top: 45px;
  font-size: 17px;
  font-weight: 500;
}

.musics-second {
  position: absolute;
  top: 150px;
  width: 100%;
  height: 100%;
}

.musics-second__image {
  position: absolute;
  background-color: #ff89bb;
  border: 3px solid #000;
  border-radius: 18px;
  left: 36px;
  width: 84px;
  height: 80px;
}

.musics-second__description {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 137px;
  top: 8px;
  font-weight: 700;
  font-size: 24px;
  width: 400px;
  height: 80px;
}

.musics-second__description span:last-child {
  position: absolute;
  top: 45px;
  font-size: 17px;
  font-weight: 500;
}

.musics-third {
  position: absolute;
  top: 300px;
  width: 100%;
  height: 100%;
}

.musics-third__image {
  position: absolute;
  background-color: #1947e5;
  border: 3px solid #000;
  border-radius: 18px;
  left: 36px;
  width: 84px;
  height: 80px;
}

.musics-third__description {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 137px;
  top: 8px;
  font-weight: 700;
  font-size: 24px;
  width: 400px;
  height: 80px;
}

.musics-third__description span:last-child {
  position: absolute;
  top: 45px;
  font-size: 17px;
  font-weight: 500;
}

.musics-fourth {
  position: absolute;
  top: 450px;
  width: 100%;
  height: 100%;
}

.musics-fourth__image {
  position: absolute;
  background-color: #00c6ad;
  border: 3px solid #000;
  border-radius: 18px;
  left: 36px;
  width: 84px;
  height: 80px;
}

.musics-fourth__description {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 137px;
  top: 8px;
  font-weight: 700;
  font-size: 24px;
  width: 400px;
  height: 80px;
}

.musics-fourth__description span:last-child {
  position: absolute;
  top: 45px;
  font-size: 17px;
  font-weight: 500;
}
