body {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.parent {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}

.parent div {
  box-sizing: border-box;
  width: 230px;
  height: 350px;
  top: 60px;
  position: relative;
  background-color: white;
}

.parent div:first-child {
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: tomato;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 5px solid white;
  background-clip: content-box;
}

.parent div:first-child .name {
  box-sizing: border-box;
  background-color: #fff;
  position: absolute;
  width: 100%;
  top: -2px;
  padding-left: 5px;
  padding-top: 20px;
  padding-bottom: 12px;
}

.parent div:first-child .code {
  box-sizing: border-box;
  background-color: #fff;
  position: absolute;
  top: 40px;
  width: 100%;
  padding-left: 5px;
  padding-top: 18px;
  padding-bottom: 28px;
}

.parent div:nth-child(2) {
  margin-left: 10px;
  background-color: #008080;
  border: 5px solid white;
  background-clip: content-box;
}

.parent div:nth-child(2) .name {
  box-sizing: border-box;
  background-color: #fff;
  position: absolute;
  width: 100%;
  top: -2px;
  padding-left: 5px;
  padding-top: 20px;
  padding-bottom: 12px;
}

.parent div:nth-child(2) .code {
  box-sizing: border-box;
  background-color: #fff;
  position: absolute;
  top: 40px;
  width: 100%;
  padding-left: 5px;
  padding-top: 18px;
  padding-bottom: 28px;
}

.parent div:nth-child(3) {
  margin-top: 10px;
  margin-right: 10px;
  background-color: #deb887;
  border: 5px solid white;
  background-clip: content-box;
}

.parent div:nth-child(3) .name {
  box-sizing: border-box;
  background-color: #fff;
  position: absolute;
  width: 100%;
  top: -2px;
  padding-left: 5px;
  padding-top: 20px;
  padding-bottom: 12px;
}

.parent div:nth-child(3) .code {
  box-sizing: border-box;
  background-color: #fff;
  position: absolute;
  top: 40px;
  width: 100%;
  padding-left: 5px;
  padding-top: 18px;
  padding-bottom: 28px;
}

.parent div:last-child {
  margin-top: 10px;
  margin-left: 10px;
  background-color: #d7bfd7;
  border: 5px solid white;
  background-clip: content-box;
}

.parent div:last-child .name {
  box-sizing: border-box;
  background-color: #fff;
  position: absolute;
  width: 100%;
  top: -2px;
  padding-left: 5px;
  padding-top: 20px;
  padding-bottom: 12px;
}

.parent div:last-child .code {
  box-sizing: border-box;
  background-color: #fff;
  position: absolute;
  top: 40px;
  width: 100%;
  padding-left: 5px;
  padding-top: 18px;
  padding-bottom: 28px;
}
